@using PhotographiApp.Web.ViewModels.Comments;
@model IEnumerable<CommentViewModel>
<div class="m-2">
    @if (@Model.Count() == 0)
    {
        <span>There are no comments!</span>
    }
    else
    {
        @foreach (var comment in Model)
        {
            <div class="review mt-4">
                <div class="d-flex flex-row comment-user">
                    <img class="rounded" src="~/images/anonymous-user.jpg" width="40">
                    <div class="ml-2">
                        <div class="d-flex flex-row align-items-center">
                            <span class="name font-weight-bold"><a asp-controller="Profile" asp-action="Show" asp-route-id="@comment.UserId">@comment.UserUserName</a></span><span class="date"> @comment.CreatedOn.ToString("ddd MMM yyyy, hh:mm")</span>
                        </div>
                    </div>
                </div>
                <div class="mt-2">
                    <p class="comment-text">@comment.Value</p>
                </div>
            </div>
        }
    }
</div>
