@using PhotographiApp.Web.ViewModels.Topic
@model TopicViewModel
@{ 
    ViewData["Title"] = $"Topic - {Model.Title}";
}

<div class="row mt-3">
    <div class="col-12">
        @if (Model.IsOwnedByCurrentUser)
        {
            <ul class="nav" style="background-color: #fafafa; width: 100%;  border-bottom: 1px solid #cccccc; border-top: 1px solid #cccccc;">

                <li class="nav-item">
                    <a asp-controller="Topic" asp-action="Edit" asp-route-id="@Model.Id" class="nav-link active">Edit</a>
                </li>
            </ul>
        }
        <div class="list-group list-group-flush">
            <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1">@Model.Title</h6>
                    <small>@Model.CreatedOn.ToString("ddd MMM yyyy, hh:mm")</small>
                </div>
                <p class="mb-1">@Model.Content</p>
                <small><a asp-controller="Profile" asp-action="Show" asp-route-id="@Model.OwnerId">@Model.OwnerUserName</a></small>
            </div>
        </div>

        <div class="col-12" style="padding-left:30px;">
            <hr />
            <partial name="~/Views/TopicReply/TopicRepliesPartial.cshtml" model="Model.Replies" />
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="TopicReply" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-dark mb-2"><i class="far fa-comments"></i> Add reply</a>

            }
        </div>
    </div>
</div>
