@using PhotographiApp.Web.ViewModels.Albums
@model AlbumViewModel

@{ 
    ViewData["Title"] = $"Album - {Model.Name}";
}

@if (Model.IsOwnerByCurrentUser)
{
    <div class="row ml-0 mr-0 action-bar-row">
        <ul class="nav action-bar-row">
            <li class="nav-item">
                <a asp-controller="Album" asp-action="Edit" asp-route-id="@Model.Id" class="nav-link active">Edit</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Album" asp-action="Delete" asp-route-id="@Model.Id" class="nav-link active">Delete</a>
            </li>
        </ul>
    </div>
}

<div class="row">
    <div class="col-12">
        <h2>@Model.Name</h2>
        <h5>@Model.Description</h5>
    </div>
</div>

<div class="row">
    <div class="col-12">
        @foreach (var photo in Model.Photos)
        {
            <a asp-controller="Photo" asp-action="Show" asp-route-id="@photo.PhotoId"><img src="@photo.PhotoThumbnailHref" width="100" height="100" alt="@photo.PhotoTitle" /></a>
        }
    </div>
</div>
