@using PhotographiApp.Web.ViewModels.Photos;
@model PhotoViewModel
@{
    ViewData["Title"] = Model.Title;
}

@if (Model.IsOwnerByCurrentUser)
{
    <div class="row" style="margin-left: 0; margin-right:0">
        <ul class="nav" style="background-color: #fafafa; width: 100%; border-bottom: 1px solid #cccccc;">
            <li class="nav-item">
                <a asp-controller="Photo" asp-action="Edit" asp-route-id="@Model.Id" class="nav-link active">Edit</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Photo" asp-action="Delete" asp-route-id="@Model.Id" class="nav-link active">Delete</a>
            </li>
            <li class="nav-item">
                <a asp-controller="PhotoAlbum" asp-action="Add" asp-route-id="@Model.Id" class="nav-link active">Add to album</a>
            </li>
            <li class="nav-item">
                <a asp-controller="PhotoAlbum" asp-action="Remove" asp-route-id="@Model.Id" class="nav-link active">Remove from album</a>
            </li>
        </ul>
    </div>
}

<div class="row" style="margin-left: 0; margin-right:0">
    <img src="@Model.Href" class="img-fluid" alt="@Model.Title">
</div>
<div class="row" style="margin-left: 0; margin-right:0">
    <div class="col">
        <h1>@Model.Title</h1>
        <h4>@Model.Description</h4>
    </div>
</div>
<hr />
<div class="row" style="margin-left: 0; margin-right:0">
    <div class="col-md-6">
        <h4>Comments</h4>
        <hr />
        <partial name="~/Views/Comments/CommentsPartial.cshtml" model="@Model.Comments" />
        <br />
        @if (Model.IsCommentAllowed && User.Identity.IsAuthenticated)
        {
            <button class="btn btn-primary">Add comment</button>
        }
    </div>
    <div class="col-md-6">
        <h4><a asp-controller="Profile" asp-action="Albums" asp-route-id="@Model.Id">Albums</a></h4>
        <hr />
        <ul class="list-group">
            @foreach (var album in Model.PhotoAlbums)
            {
                <li class="list-group-item"><a asp-controller="Album" asp-action="Show" asp-route-id="@album.AlbumId">@album.AlbumName</a></li>
            }
        </ul>
    </div>
</div>