@using PhotographiApp.Web.ViewModels.Photos;
@model PhotoViewModel
@{
    ViewData["Title"] = Model.Title;
}

<div class="row mr-0 ml-0">
    <img src="@Model.Href" class="img-fluid" alt="@Model.Title">
</div>
<div class="row mr-0 ml-0 action-bar-row" >
    <ul class="nav action-bar">
        @if (Model.IsOwnerByCurrentUser)
        {
            <li class="nav-item">
                <a asp-controller="Photo" asp-action="Edit" asp-route-id="@Model.Id" class="nav-link active"><i class="far fa-edit"></i> Edit</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Photo" asp-action="Delete" asp-route-id="@Model.Id" class="nav-link active"><i class="fas fa-trash"></i> Delete</a>
            </li>
            <li class="nav-item">
                <a asp-controller="PhotoAlbum" asp-action="Add" asp-route-id="@Model.Id" class="nav-link active"><i class="fas fa-plus"></i> Add to album</a>
            </li>
            <li class="nav-item">
                <a asp-controller="PhotoAlbum" asp-action="Remove" asp-route-id="@Model.Id" class="nav-link active"><i class="fas fa-minus"></i> Remove from album</a>
            </li>
        }
        else if (User.Identity.IsAuthenticated && Model.IsUserFavorite == false)
        {
            <li class="nav-item">
                <a asp-controller="PhotoFavorite" asp-action="Make" asp-route-id="@Model.Id" class="nav-link active"><i class="fas fa-heart"></i> Make favorite</a>
            </li>
        }
        else if (User.Identity.IsAuthenticated && Model.IsUserFavorite == true)
        {
            <li class="nav-item">
                <a asp-controller="PhotoFavorite" asp-action="Make" asp-route-id="@Model.Id" class="nav-link active"><i class="far fa-heart"></i> Remove favorite</a>
            </li>
        }

    </ul>
</div>
<div class="row ml-0 mr-0">
    <div class="col mt-3">
        <h5>@Model.Title</h5>
        <small>@Model.Description</small>
    </div>
</div>
<hr />
<div class="row ml-0 mr-0">
    <div class="col-md-8">
        <h5>Comments</h5>
        <hr />
        <partial name="~/Views/Comments/CommentsPartial.cshtml" model="@Model.Comments" />
        <br />
        @if (Model.IsCommentAllowed && User.Identity.IsAuthenticated)
        {
        <a asp-controller="Comments" asp-action="Add" asp-route-id="@Model.Id" class="btn btn-dark">Add comment</a>
        }
    </div>
    <div class="col-md-4">
        <h5>Associated albums</h5>
        <hr />
        <ul class="list-group">
            @foreach (var album in Model.PhotoAlbums)
            {
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <a asp-controller="Album" asp-action="Show" asp-route-id="@album.AlbumId">@album.AlbumName</a>
                    @*<div>
                        
                        <span class="badge badge-dark badge-pill"><i class="far fa-comments"></i> @album.</span>
                    </div>*@
                </li>
            }
        </ul>
    </div>
</div>