@using PhotographiApp.Web.ViewModels.Profile
@model UserProfileViewModel
@{ 

}

<div class="row">
    <div class="col-12">
        <h1>@Model.UserName</h1>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-9">
        <h4><a asp-controller="Profile" asp-action="Photos" asp-route-id="@Model.Id">Photos</a></h4>
        <hr />
        @foreach (var photo in Model.Photos)
        {
            <a asp-controller="Photo" asp-action="Show" asp-route-id="@photo.Id"><img src="@photo.ThumbnailHref" width="100" height="100" alt="@photo.Title" /></a>
        }
    </div>
    <div class="col-3">
        <h4><a asp-controller="Profile" asp-action="Albums" asp-route-id="@Model.Id">Albums</a></h4>
        <hr />
        <ul class="list-group">
            @foreach (var album in Model.Albums)
            {
            <li class="list-group-item"><a asp-controller="Album" asp-action="Show" asp-route-id="@album.Id">@album.Name</a></li>
            }
        </ul>
    </div>
    <div class="col-12">
        <h4><a asp-controller="Profile" asp-action="Favorites" asp-route-id="@Model.Id">Favorites</a></h4>
    </div>
</div>
