@using PhotographiApp.Web.ViewModels.Profile
@model UserProfileViewModel
<h1>@Model.UserName</h1>
<hr />
<div class="row">
    <div class="col-10">
        <h2>Photos</h2>
        <hr />
        @foreach (var photo in Model.Photos)
        {
            <a asp-controller="Photo" asp-action="Show" asp-route-id="@photo.Id"><img src="@photo.ThumbnailHref" width="100" height="100" alt="@photo.Title" /></a>
        }
    </div>
    <div class="col-2">
        <h2>Albums</h2>
        <hr />
        <ul class="list-group">
            @foreach (var album in Model.Albums)
            {
                <li class="list-group-item">@album.Name</li>
            }
        </ul>
    </div>
</div>
